* {
    margin: 0;
}

.matchGame-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/match-game-bg.png");
    background-size: cover;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: #2c0e3a;
    align-items: center;
}

.game-controls {
    display: flex;
}

.timer {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

.score {
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.time {
    color: #fec653;
    font-size: 18px;
    font-weight: bold;
}

.time-container {
    display: flex;
    margin-right: 20px;
}

.active-tab {
    border-bottom: 2px #fec653 solid;
    color: #fec653;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    list-style-type: none;
    margin: 20px;
}

.inactive-tab {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    list-style-type: none;
    color: white;
    margin: 20px;
}

.thumbnail-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.thumbnail-container {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 20px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.match-image {
    width: 300px;
    height: 250px;
}

.matchImage-container {
    text-align: center;
    margin-top: 30px;
}

.logo {
    width: 150px;
    height: 30px;
}

.game-over-container {
    color: white;
    background-image: url("https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png");
}